<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Website{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>
<body>

    <header>
        {% block header %}
            <h1>My Website Header</h1>
        {% endblock %}
    </header>


    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}


    <main>
        <aside>
            {% block sidebar1 %}
                <p>Left Sidebar</p>
            {% endblock %}
        </aside>

        <section class="content">
            {% block content %}
                <p>Main content goes here.</p>
            {% endblock %}
        </section>

        <aside>
            {% block sidebar2 %}
                <p>Right Sidebar</p>
            {% endblock %}
        </aside>
    </main>

    <footer>
        {% block footer %}
            <p>My Website Footer © 2025</p>
        {% endblock %}
    </footer>

</body>
</html>
