{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block header %}
    <h1>Welcome to the Home Page</h1>
{% endblock %}

{% block sidebar1 %}
    <ul>
        <li>Menu A</li>
        <li>Menu B</li>
    </ul>
{% endblock %}

{% block content %}
    <h2>Main Content Area</h2>
    <p>This is where the main page content will appear.</p>
{% endblock %}

{% block sidebar2 %}
    <p>News and Updates</p>
{% endblock %}

{% block footer %}
    <p>Custom footer for home page</p>
{% endblock %}
